<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="com.vaannila.User" >
		<constructor-arg index="0" type="java.lang.String" value="Eswar" />
		<constructor-arg index="1" type="int" value="24"/>
		<constructor-arg index="2" type="java.lang.String" value="India"/>		
	</bean>

</beans>
